.env
data/**
agents/*/data/**
!agents/*/data/
!agents/*/data/.gitkeep
!agents/*/data/hermes/
!agents/*/data/hermes/.gitkeep
!agents/*/data/litellm/
!agents/*/data/litellm/.gitkeep
!data/
!data/.gitkeep
!data/postgres/
!data/postgres/.gitkeep
!data/caddy/
!data/caddy/.gitkeep
!data/caddy/config/
!data/caddy/config/.gitkeep
!data/caddy/data/
!data/caddy/data/.gitkeep
