{
  email admin@example.com
}

hermy-litellm-api.example.com {
  encode zstd gzip
  reverse_proxy personal-agent-host.example.com:4000
}

hermy-hermes-api.example.com {
  encode zstd gzip
  reverse_proxy personal-agent-host.example.com:8642
}
