{
  email admin@example.com
}

litellm.example.com {
  encode zstd gzip
  reverse_proxy 127.0.0.1:4000
}

hermes-api.example.com {
  encode zstd gzip
  reverse_proxy 127.0.0.1:8642
}

hermes.example.com {
  encode zstd gzip
  reverse_proxy 127.0.0.1:9119
}
